node_modules

*.ptau

test_poseidon/**/*.sym
test_poseidon/**/*.r1cs
test_poseidon/**/*.json
test_poseidon/**/poseidon_16_1_cpp/
test_poseidon/**/poseidon_16_1_js/
test_poseidon/**/*.wtns
test_poseidon/**/*.zkey

js_witness/**/*.sym
js_witness/**/*.r1cs
js_witness/**/*.json
js_witness/**/*_cpp/
js_witness/**/*_js/
js_witness/**/*.wtns
js_witness/**/*.zkey

!test_poseidon/input.json
!js_witness/input*.json

**/**/.DS_Store