node_modules

*.ptau

test_poseidon/**/*.sym
test_poseidon/**/*.r1cs
test_poseidon/**/*.json
test_poseidon/**/poseidon_16_1_cpp/
test_poseidon/**/poseidon_16_1_js/
test_poseidon/**/*.wtns
test_poseidon/**/*.zkey

!test_poseidon/input.json

**/**/.DS_Store